src/main/resources/Base/RHIN-Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Ver.0.12.3/2018-07-11 Dejun Hsu-->
<xs:schema xmlns="http://www.chiss.org.cn/rhin/2015" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.chiss.org.cn/rhin/2015" elementFormDefault="qualified">
    <xs:simpleType name="nullFlavorPrimitive">
        <xs:annotation>
            <xs:documentation>
                NI - 无法从任何情况下获取信息(粗粒度值) NA - 该值不适用于该上下文
                NP - 在消息中该值不存在
                NASK - 未询问患者
                ASKU - 询问过患者,但是不知道
                MSK - 因安全等原因该值被掩藏
                NAV - 该值当前不可用,但在可预期的将来该值一定可用 UNK - 有值可用,但是不知道
                OTH - 其它
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="stringPrimitive">
            <xs:enumeration value="UNK"/>
            <xs:enumeration value="NAV"/>
            <xs:enumeration value="NASK"/>
            <xs:enumeration value="ASKU"/>
            <xs:enumeration value="NP"/>
            <xs:enumeration value="NA"/>
            <xs:enumeration value="NI"/>
            <xs:enumeration value="MSK"/>
            <xs:enumeration value="OTH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Any" abstract="true">
        <xs:attribute name="nullFlavor" type="nullFlavorPrimitive" use="optional"/>
    </xs:complexType>
    <xs:simpleType name="stringPrimitive">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="String">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="stringPrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="booleanPrimitive">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="Boolean">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="booleanPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="datePrimitive">
        <xs:restriction>
            <xs:simpleType>
                <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date"/>
            </xs:simpleType>
            <xs:pattern value="-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1]))?)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Date">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="datePrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="timePrimitive">
        <xs:restriction base="xs:time">
            <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Time">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="timePrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="dateTimePrimitive">
        <xs:restriction>
            <xs:simpleType>
                <xs:union memberTypes="xs:gYear xs:gYearMonth xs:date xs:dateTime"/>
            </xs:simpleType>
            <xs:pattern
                    value="-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)(( 0[0-9]|1[0-3]):[0-5][0-9]|14:00))?)?)?)?"
            />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateTime">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="dateTimePrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="durationUnitPrimitive">
        <xs:restriction base="stringPrimitive">
            <xs:enumeration value="yr"/>
            <xs:enumeration value="mth"/>
            <xs:enumeration value="wk"/>
            <xs:enumeration value="d"/>
            <xs:enumeration value="h"/>
            <xs:enumeration value="min"/>
            <xs:enumeration value="s"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Duration">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="unsignedIntPrimitive"/>
                <xs:attribute name="unit" type="durationUnitPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="languagePrimitive">
        <xs:restriction base="xs:language"/>
    </xs:simpleType>
    <xs:complexType name="Language">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="languagePrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="codePrimitive">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
            <xs:pattern value="[^\s]+([\s]?[^\s]+)*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Code">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="codePrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="unsignedIntPrimitive">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:pattern value="[0]|([1-9][0-9]*)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UnsignedInt">
        <xs:annotation>
            <xs:documentation>正整数</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="unsignedIntPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="integerPrimitive">
        <xs:restriction base="xs:int">
            <xs:pattern value="-?([0]|([1-9][0-9]*))"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Integer">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="integerPrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="decimalPrimitive">
        <xs:restriction base="xs:decimal">
            <xs:pattern value="-?([0]|([1-9][0-9]*))(\.[0-9]+)?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Decimal">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="decimalPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="ncNamePrimitive">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>
    <xs:complexType name="NCName">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="ncNamePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="qNamePrimitive">
        <xs:restriction base="xs:QName"/>
    </xs:simpleType>
    <xs:complexType name="QName">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="qNamePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="base64BinaryPrimitive">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:complexType name="Base64Binary">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="base64BinaryPrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="uriPrimitive">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:complexType name="URI">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="uriPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="urnPrimitive">
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="urn:[A-Za-z0-9:_\-\.]{1,}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="URN">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="urnPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="idPrimitive">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:pattern value="[A-Za-z0-9\-\.]{1,64}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ID">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="idPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="oidPrimitive">
        <xs:restriction base="urnPrimitive">
            <xs:minLength value="1"/>
            <xs:pattern value="urn:oid:(0|[1-9][0-9]*)(\.(0|[1-9][0-9]*))*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OID">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="oidPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="uuidPrimitive">
        <xs:restriction base="urnPrimitive">
            <xs:minLength value="1"/>
            <xs:pattern
                    value="urn:uuid:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="UUID">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="uuidPrimitive"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="instantPrimitive">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:complexType name="Instant">
        <xs:annotation>
            <xs:documentation>精确时间,总是包括时区.通常用于系统日志记录,该时间非用于人
                读.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="instantPrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Identifier">
        <xs:annotation>
            <xs:documentation>标识域ID</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="system" type="URI" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>标识域、系统</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="value" type="ID" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Period">
        <xs:annotation>
            <xs:documentation>时间段</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="start" type="DateTime"/>
                    <xs:element name="end" type="DateTime" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="duration" type="Duration" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Reference">
        <xs:annotation>
            <xs:documentation>引用</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="reference" type="Identifier" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>引用指向.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="display" type="String" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>显示名称.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Coding">
        <xs:annotation>
            <xs:documentation>编码概念</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="code" type="Code" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>编码值</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="display" type="String" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>编码的显示名称.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="system" type="URI" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>所属编码系统</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="systemName" type="String">
                        <xs:annotation>
                            <xs:documentation>编码系统名称</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="version" type="String" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>版本</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CodeableConcept">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="coding" type="Coding" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="text" type="String" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Quantity">
        <xs:annotation>
            <xs:documentation>计量值</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element name="value" type="Decimal" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>测量值</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="unit" type="String" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation>人可读的单位</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="nameUsePrimitive">
        <xs:annotation>
            <xs:documentation>姓名的用途的枚举值</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Usual">
                <xs:annotation>
                    <xs:documentation xml:lang="en">常用名</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Official">
                <xs:annotation>
                    <xs:documentation xml:lang="en">正式名字</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Temp">
                <xs:annotation>
                    <xs:documentation xml:lang="en">临时名字</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Nickname">
                <xs:annotation>
                    <xs:documentation xml:lang="en">昵称、网名、号</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Anonymous">
                <xs:annotation>
                    <xs:documentation xml:lang="en">别名(字)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Old">
                <xs:annotation>
                    <xs:documentation xml:lang="en">曾用名</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Maiden">
                <xs:annotation>
                    <xs:documentation xml:lang="en">婚前名</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameUse">
        <xs:annotation>
            <xs:documentation xml:lang="en"/>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="nameUsePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="HumanName">
        <xs:annotation>
            <xs:documentation>人的姓名</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence minOccurs="0" maxOccurs="1">
                    <xs:element minOccurs="0" name="use" type="NameUse">
                        <xs:annotation>
                            <xs:documentation>姓名用途</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="family" type="String">
                        <xs:annotation>
                            <xs:documentation>姓</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="given" type="String">
                        <xs:annotation>
                            <xs:documentation>名字</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="prefix" type="String">
                        <xs:annotation>
                            <xs:documentation>前缀</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="suffix" type="String">
                        <xs:annotation>
                            <xs:documentation>后缀</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="period" type="Period" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>有效时间段</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="text" type="String">
                        <xs:annotation>
                            <xs:documentation>补充说明</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="value" type="stringPrimitive">
                    <xs:annotation>
                        <xs:documentation>全名</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="addressUsePrimitive">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Home">
                <xs:annotation>
                    <xs:documentation xml:lang="en">家庭地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Work">
                <xs:annotation>
                    <xs:documentation xml:lang="en">工作地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Temp">
                <xs:annotation>
                    <xs:documentation xml:lang="en">临时地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Old">
                <xs:annotation>
                    <xs:documentation xml:lang="en">旧地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressUse">
        <xs:annotation>
            <xs:documentation xml:lang="en">地址的用途</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="addressUsePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="addressTypePrimitive">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Postal">
                <xs:annotation>
                    <xs:documentation xml:lang="en">投递地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Physical">
                <xs:annotation>
                    <xs:documentation xml:lang="en">地理位置.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Both">
                <xs:annotation>
                    <xs:documentation xml:lang="en">投递地址与地理位置通用.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation xml:lang="en">地址类别.</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="addressTypePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Address">
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:sequence>
                    <xs:element minOccurs="0" name="use" type="AddressUse">
                        <xs:annotation>
                            <xs:documentation>地址类型</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="type" type="AddressType"/>
                    <xs:element name="text" type="String" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>地址的纯文本写法</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="administrativeDivision" type="String">
                        <xs:annotation>
                            <xs:documentation>行政区划</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="country" type="String">
                        <xs:annotation>
                            <xs:documentation>国家</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="state" type="String">
                        <xs:annotation>
                            <xs:documentation>省、自治区、直辖市</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="city" type="String">
                        <xs:annotation>
                            <xs:documentation>地级市、区、盟</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="district" type="String">
                        <xs:annotation>
                            <xs:documentation>县、县级市、地区、旗</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="town" type="String">
                        <xs:annotation>
                            <xs:documentation>乡(镇、街道办事处)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="street" type="String">
                        <xs:annotation>
                            <xs:documentation>村(街、路、弄等)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="houseNumber" type="String">
                        <xs:annotation>
                            <xs:documentation>门牌号码</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="line" type="String" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation>结构化地址的其它信息</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="postalCode" minOccurs="0" type="String">
                        <xs:annotation>
                            <xs:documentation>邮政编码</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="period" type="Period">
                        <xs:annotation>
                            <xs:documentation>地址的有效时间段</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="BackboneElement">
        <xs:annotation>
            <xs:documentation>资源定义内部所有元素的基类</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="telecomModePrimitive">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Telephone">
                <xs:annotation>
                    <xs:documentation xml:lang="en">投递地址</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Cellphone">
                <xs:annotation>
                    <xs:documentation xml:lang="en">地理位置.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Email">
                <xs:annotation>
                    <xs:documentation xml:lang="en">投递地址与地理位置通用.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QQ"/>
            <xs:enumeration value="Wechat"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TelecomMode">
        <xs:annotation>
            <xs:documentation>联系方式的类型</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Any">
                <xs:attribute name="value" type="telecomModePrimitive" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="Telecom">
        <xs:annotation>
            <xs:documentation>通讯地址</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="use" type="TelecomMode"/>
            <xs:element name="value" type="String"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NameValuePairType">
        <xs:annotation>
            <xs:documentation>编码名值对类型</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="stringPrimitive" use="required"/>
        <xs:attribute name="value" type="stringPrimitive" use="required"/>
    </xs:complexType>
    <xs:complexType name="ValueList">
        <xs:annotation>
            <xs:documentation>值列表，多个值之间为或的关系</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="value" type="String" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Slot">
        <xs:annotation>
            <xs:documentation>插槽类型，用于查询、过滤器、主题等插入条件。</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="String">
                <xs:annotation>
                    <xs:documentation>关键字</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" name="valueList" type="ValueList">
                <xs:annotation>
                    <xs:documentation>取值列表,多值之间为OR关系</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SlotListType">
        <xs:annotation>
            <xs:documentation>插槽列表类型，多个插槽间是并的关系。</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="slot" type="Slot"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="NullResponse"/>
</xs:schema>