src/main/resources/rhin_OrganizationRegistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- Ver.0.12.4/2018-07-20 Dejun Hsu-->
<wsdl:definitions xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xmlns:rhin="http://www.chiss.org.cn/rhin/2015" xmlns:wsntw="http://docs.oasis-open.org/wsn/bw-2"
                  targetNamespace="http://www.chiss.org.cn/rhin/2015">
    <wsdl:import namespace="http://docs.oasis-open.org/wsn/bw-2" location="bw-2.wsdl"/>
    <wsdl:import namespace="http://www.chiss.org.cn/rhin/2015" location="rhin_OrganizationRegistration.xsd"/>
    <wsdl:message name="OrganizationFeed">
        <wsdl:part name="message" element="rhin:OrganizationFeed"/>
    </wsdl:message>
    <wsdl:message name="OrganizationFeedResponse">
        <wsdl:part name="message" element="rhin:OrganizationFeedResponse"/>
    </wsdl:message>
    <wsdl:message name="OrganizationQuery">
        <wsdl:part name="message" element="rhin:OrganizationQuery"/>
    </wsdl:message>
    <wsdl:message name="OrganizationQueryResponse">
        <wsdl:part name="message" element="rhin:OrganizationQueryResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrganizationProvider">
        <wsdl:operation name="OrganizationFeed">
            <wsdl:input message="rhin:OrganizationFeed"/>
            <wsdl:output message="rhin:OrganizationFeedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="OrganizationQuery">
            <wsdl:input message="rhin:OrganizationQuery"/>
            <wsdl:output message="rhin:OrganizationQueryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotificationConsumerBinding" type="wsntw:NotificationConsumer">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Notify">
            <wsoap12:operation soapAction="Notify" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="NotificationProducerBinding" type="wsntw:NotificationProducer">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Subscribe">
            <wsoap12:operation soapAction="Subscribe" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsoap12:fault name="ResourceUnknownFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidFilterFault">
                <wsoap12:fault name="InvalidFilterFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TopicExpressionDialectUnknownFault">
                <wsoap12:fault name="TopicExpressionDialectUnknownFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTopicExpressionFault">
                <wsoap12:fault name="InvalidTopicExpressionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TopicNotSupportedFault">
                <wsoap12:fault name="TopicNotSupportedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidProducerPropertiesExpressionFault">
                <wsoap12:fault name="InvalidProducerPropertiesExpressionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidMessageContentExpressionFault">
                <wsoap12:fault name="InvalidMessageContentExpressionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnacceptableInitialTerminationTimeFault">
                <wsoap12:fault name="UnacceptableInitialTerminationTimeFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="NotifyMessageNotSupportedFault">
                <wsoap12:fault name="NotifyMessageNotSupportedFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SubscribeCreationFailedFault">
                <wsoap12:fault name="SubscribeCreationFailedFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SubscriptionManagerBinding" type="wsntw:SubscriptionManager">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Unsubscribe">
            <wsoap12:operation soapAction="Unsubscribe" style="document"/>
            <wsdl:input name="UnsubscribeRequest">
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UnsubscribeResponse">
                <wsoap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ResourceUnknownFault">
                <wsoap12:fault name="ResourceUnknownFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnableToDestroySubscriptionFault">
                <wsoap12:fault name="UnableToDestroySubscriptionFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrganizationProviderBinding" type="rhin:OrganizationProvider">
        <wsoap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OrganizationFeed">
            <wsoap12:operation soapAction="OrganizationFeed" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OrganizationQuery">
            <wsoap12:operation soapAction="OrganizationQuery" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrganizationMessageApp">
        <wsdl:port name="NotificationConsumerPort" binding="rhin:NotificationConsumerBinding">
            <wsoap12:address location="{OrganizationMessgeApp}/NotificationConsumer"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="OrganizationRegistrationServer">
        <wsdl:port name="OrganizationProviderPort" binding="rhin:OrganizationProviderBinding">
            <wsoap12:address location="{rhinHost}/OrganizationProvider"/>
        </wsdl:port>
        <wsdl:port name="NotificationProducerPort" binding="rhin:NotificationProducerBinding">
            <wsoap12:address location="{rhinHost}/OrganizationProviderNotificationProducer"/>
        </wsdl:port>
        <wsdl:port name="SubscriptionManagerPort" binding="rhin:SubscriptionManagerBinding">
            <wsoap12:address location="{rhinHost}/OrganizationProvider/SubscriptionManager"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>